@model List<StudentPortal.Models.Entities.Student>

<h3>list of students</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>

                    <a asp-asp-controller="Students" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                </td>
                <td>

                    <a asp-asp-controller="Students" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>